@inherits LayoutComponentBase
@inject IGetterService Getter

<div class="header">
	<a href="/"> <p align="center">Home</p> </a>

	<EditForm Model="@shiit" OnSubmit="Submit" >
		<p>
			<InputNumber class="Input remove-border" @bind-Value="shiit.Week" />
		</p>
		<input type="submit" hidden />
	</EditForm>
</div>

@Body

@code {
	Shiiiit shiit = new();

	EditContext? editContext;

	void Submit()
	{
		Getter.SetWeek(shiit.Week);
	}

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

	}

	public class Shiiiit
	{
		public int Week { get; set; }
	}
}

@*
	css isolation doesn't work for blazor components or Tag Helpers. use <style> instead
*@

<style> 
	.remove-border.modified.valid {
		outline: none;
	}
	.Input {
		outline: none;
		border-inline: none;
		background-color: transparent;
		border-radius: 0.5rem;
		border: 2px solid rgb(0, 0, 0);
	}
</style>