/* /Layout/MainLayout.razor.rz.scp.css */
.header[b-fqs072p2xd] {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: end;
}

    .header > a[b-fqs072p2xd] {
        display: block;
        text-decoration: none;
        height: 30px;
        padding: 10px;
        padding-top: 0;
        color: #5E6472;
    }

    .header > p[b-fqs072p2xd] {
        padding-top: 10px;
        width: 130px;
        color: black;
    }

    .header > a:hover[b-fqs072p2xd], .header > a:active[b-fqs072p2xd] {
        color: #34373E;
    }
/* /Pages/Home.razor.rz.scp.css */
.main[b-08r3roj4b1] {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.row[b-08r3roj4b1] {
    flex-direction: row;
}

.column[b-08r3roj4b1] {
    flex-direction: column;
}

.pd-1[b-08r3roj4b1] {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
    margin: 0;
}

.pd-3[b-08r3roj4b1] {
    margin: 0;
    padding-top: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.3rem;
}

.container[b-08r3roj4b1] {
    margin: 0.2rem;
    width: 16rem;
    height: 16rem;
    background-color: #A1A1A1;

    border-radius: 1rem;
}

.transparent[b-08r3roj4b1] {
    background-color: white;
}

@media screen and (max-width: 1024px) {

    .main[b-08r3roj4b1] {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    .container[b-08r3roj4b1] {
        margin: 0.2rem;
        width: 20rem;
        height: 20rem;
        background-color: #A1A1A1;
    }
}

@media screen and (max-width: 767px) {

    .main[b-08r3roj4b1] {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container[b-08r3roj4b1] {
        margin: 0.2rem;
        width: 20rem;
        height: 10.5rem;
        background-color: #A1A1A1;
    }
}

@media screen and (max-width: 400px) {

    .main[b-08r3roj4b1] {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container[b-08r3roj4b1] {
        margin: 0.2rem;
        width: 19rem;
        height: 9rem;
        background-color: #A1A1A1;
    }
}

@media screen and (max-width: 375px) {

    .main[b-08r3roj4b1] {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container[b-08r3roj4b1] {
        margin: 0.2rem;
        width: 17rem;
        height: 10rem;
        background-color: #A1A1A1;
    }
}
