.main {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.pd-1 {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
    margin: 0;
}

.pd-3 {
    margin: 0;
    padding-top: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.3rem;
}

.container {
    margin: 0.2rem;
    width: 16rem;
    height: 16rem;
    background-color: #A1A1A1;

    border-radius: 1rem;
}

.transparent {
    background-color: white;
}

@media screen and (max-width: 1024px) {

    .main {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin: 0.2rem;
        width: 20rem;
        height: 20rem;
        background-color: #A1A1A1;
    }
}

@media screen and (max-width: 767px) {

    .main {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        margin: 0.2rem;
        width: 20rem;
        height: 10.5rem;
        background-color: #A1A1A1;
    }
}

@media screen and (max-width: 400px) {

    .main {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        margin: 0.2rem;
        width: 19rem;
        height: 9rem;
        background-color: #A1A1A1;
    }
}

@media screen and (max-width: 375px) {

    .main {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        margin: 0.2rem;
        width: 17rem;
        height: 10rem;
        background-color: #A1A1A1;
    }
}