.main {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.bord {
    border-bottom: 0.2rem solid rgb(0, 0, 0);
    background-color: #b6c2e8;
    -moz-border-radius-topright: 0.4rem;
    -moz-border-radius-topleft: 0.4rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.pd-1 {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;

    font-weight: 550;
}

.pd-3 {
    margin: 0;
    padding-top: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.3rem;
}

.container {
    margin: 0.2rem;
    width: 16rem;
    height: 16rem;
    background-color: #A1A1A1;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(0, 0, 0);
}

.transparent {
    background-color: white;
}

@media screen and (max-width: 1920px) {

    .main {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin: 0.2rem;
        width: 20rem;
        height: 20rem;
        background-color: transparent;
        border-radius: 0.5rem;
        border: 0.2rem solid rgb(0, 0, 0);
    }
}

@media screen and (max-width: 1024px) {

    .main {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin: 0.2rem;
        width: 20rem;
        height: 20rem;
        background-color: transparent;
        border-radius: 0.5rem;
        border: 0.2rem solid rgb(0, 0, 0);
    }
}

@media screen and (max-width: 767px) {

    .main {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        margin: 0.2rem;
        width: 20rem;
        height: 12rem;
        background-color: transparent;
        border-radius: 0.5rem;
        border: 0.2rem solid rgb(0, 0, 0);
    }
}

@media screen and (max-width: 400px) {

    .main {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        margin: 0.2rem;
        width: 19rem;
        height: 10rem;
        background-color: transparent;
        border-radius: 0.5rem;
        border: 0.2rem solid rgb(0, 0, 0);
    }
}

@media screen and (max-width: 375px) {

    .main {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        margin: 0.2rem;
        width: 17rem;
        height: 10rem;
        background-color: transparent;
        border-radius: 0.5rem;
        border: 0.2rem solid rgb(0, 0, 0);
    }
}

@media screen and (max-width: 350px) {

    .main {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        margin: 0.2rem;
        width: 16rem;
        height: 10rem;
        background-color: transparent;
        border-radius: 0.5rem;
        border: 0.2rem solid rgb(0, 0, 0);
    }
}