.header[b-fqs072p2xd] {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: end;
}

    .header > a[b-fqs072p2xd] {
        display: block;
        text-decoration: none;
        height: 30px;
        padding: 10px;
        padding-top: 0;
        color: #5E6472;
    }

    .header > p[b-fqs072p2xd] {
        padding-top: 10px;
        width: 130px;
        color: black;
    }

    .header > a:hover[b-fqs072p2xd], .header > a:active[b-fqs072p2xd] {
        color: #34373E;
    }
